<div class="login-form">
<h4 class="modal-title"><%= t('forms.password.new.title') %></h4>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "form-sign" }) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t('forms.password.new.button_text'), class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/error_messages", resource: resource %>
<%= render "devise/shared/links" %>

</div>