<!DOCTYPE html>
<html>
<head>
  <title>Privat25</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>

<body>

<% if content_for?(:navbar) %>
  <%= yield(:navbar) %>
<% else %>
  <%= render 'navbar/nav_bar' %>
<% end %>


<div class="container">

  <%= flash_messages %>

</div>

<%= yield %>

</body>
</html>
